@model SystemMenu.Model.Entities.Permission.Manager
@*@{
    Layout = null;
}*@

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="~/lib/layuimini/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="~/lib/layuimini/css/public.css" media="all">
    <style>

        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
        <div class="layui-form layuimini-form">
            <form class="layui-form layuimini-form">
                @*@Html.HiddenFor(c => c.Id)
                @Html.HiddenFor(c => c.Account)
                @Html.HiddenFor(c => c.CreateTime)
                @Html.HiddenFor(c => c.Password)
                @Html.HiddenFor(c => c.IsEnable)
                @Html.AntiForgeryToken()*@
                <div class="layui-form-item">
                    <label class="layui-form-label required">用户名</label>
                    <div class="layui-input-block">
                        <input type="text" asp-for="Account" placeholder="请输入用户名" lay-verify="required" lay-reqtext="用户名不能为空" class="layui-input">
                        <tip>填写自己管理账号的名称。</tip>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label required">创建时间</label>
                    <div class="layui-input-block">
                        <input type="text" asp-for="CreateTime" placeholder="创建时间" lay-verify="required" lay-reqtext="时间不能为空" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label required">密码</label>
                    <div class="layui-input-block">
                        <input type="text" asp-for="Password" placeholder="密码" lay-verify="required" lay-reqtext="密码不能为空" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label required">是否启用</label>
                    <div class="layui-input-block">
                        <input type="text" asp-for="IsEnable" placeholder="是否启用" lay-verify="required" lay-reqtext="是否启用(TRUE/FALSE)" class="layui-input">
                    </div>
                </div>


                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
                    </div>
                </div>
            </form>
        </div>
     
        <script src="~/lib/layuimini/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
        <script>
    layui.use(['form'], function () {
                var form = layui.form,
                    layer = layui.layer,
                    $ = layui.$;

                //监听提交
                form.on('submit(saveBtn)', function (data) {
                    var index = layer.alert(JSON.stringify(data.field), {
                        title: '最终的提交信息'
                    }, function () {

                        // 关闭弹出层
                        layer.close(index);

                        var iframeIndex = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(iframeIndex);

                    });

                    return false;
                });

            });</script>
</body>
</html>